{% extends '@layouts/home/home.twig' %}

{% block contents %}
	<section class="guide">
    <h2 class='heading-2'>
      How Dreamshare
    </h2>
    <ol class='guide-list'>
      {% 
        set guides = [
          {
            title: 'Sed leo enim, condimentum',
            text: 'Quisque libero libero, dictum non turpis in, luctus
            semper lorem. Donec rhoncus a leo sit amet facilisis.',
            img: 'https://images.unsplash.com/photo-1568823983807-bb73e29cc96d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80'
          },
          {
            title: 'Morbi velit risus',
            text: 'Nulla venenatis tempor dui in molestie. Nulla quis
            dictum purus, sit amet porttitor est.',
            img: 'https://images.unsplash.com/photo-1568812861383-7d7e430959e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
          {
            title: 'Sed leo enim, condimentum',
            text: 'Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.',
            img: 'https://images.unsplash.com/photo-1568804459589-740b454e5dc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
        ]
      %}
      {% for guide in guides %}
        <li 
          style='background-image: linear-gradient(to bottom, rgba(0, 0, 0,
          0), rgba(0, 0, 0, 0.6)), url("{{guide.img}}")'
          class='guide-list__item'
       >
          <div class='guide__capsule'>Step {{ loop.index }}</div>
          <h3 class='guide__title'>{{ guide.title }}</h3>
          <p class='guide__text'>
            {{ guide.text }}
          </p>
        </li>
      {% endfor %}
    </ol>
	</section>
  <section class='partners'>
    <h2 class='heading-2'>
      Meet a partner for your best holiday
    </h2>
    <ul class='partners-list'>
      {%
      set partners = [
        {
          name: 'Bradley Hunter',
          text: 'Based in Chicago. I love playing tennis and loud
          music.',
          img:
          'https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60',
          icon: '🎵',
          color: '#ff4e50'
        },
        {
          name: 'Diana Wells',
          text: 'Living in Athens, Greece. I love black and white classics, chillout music and green tea.',
          img:
          'https://images.unsplash.com/photo-1524593689594-aae2f26b75ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80',
          icon: '📷',
          color: '#ffa710'
        },
        {
          name: 'Marie Bennett',
          text: 'Currently living in Colorado. Lover of art, languages and travelling.',
          img:
          'https://images.unsplash.com/photo-1544725176-7c40e5a71c5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60',
          icon: '🖌️',
          color: '#19d4ca',
        },
        {
          name: 'Christopher Pierce',
          text: 'Star Wars fanatic. I have a persistent enthusiasm to create new things.',
          img:
          'https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60',
          icon: '✈️',
          color: '#667df3'
        },
      ] 
      %}

      {% for partner in partners %}
        <li class='partners-list__item'>
          <div class='partner__avatar'>
            <img
              class='partner__avatar-img'
              src='{{ partner.img }}'
              align='middle'
            />
            <span style='background-color: {{ partner.color }};' class='partner__avatar-icon'>{{ partner.icon }}</span>
          </div>
          <h4 class='partner__name'>
            {{ partner.name }}
          </h4>
          <p class='partner__text'>
          {{ partner.text }}
          </p>
        </li>
      {% endfor %}
    </ul>
    <button class='btn--primary-outline'>
      See other partners
    </button>
  </section>
  <section class='services'>
    <h2 class='heading-2'>
      Discover holiday activities
    </h2>
    <ul class='service-list'>
      {%
        set services = [
          {
            title: 'Sports and Activies',
            img: 'https://images.unsplash.com/photo-1498581444814-7e44d2fbe0e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
          {
            title: 'Wellness and Health',
            img: 'https://images.unsplash.com/photo-1484583066749-c2129489f52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
          {
            title: 'Extreme Sports and Expeditions',
            img: 'https://images.unsplash.com/photo-1547347298-4074fc3086f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
          {
            title: 'Games',
            img: 'https://images.unsplash.com/photo-1523875194681-bedd468c58bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
          {
            title: 'Culture and Education',
            img: 'https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
          {
            title: 'Enjoyment and Relaxation',
            img: 'https://images.unsplash.com/photo-1512552288940-3a300922a275?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
          {
            title: 'Travelling',
            img: 'https://images.unsplash.com/photo-1553531889-3836a7ee6d3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'
          },
        ] 
      %}
      {% for service in services %}
        <li style='background-image: linear-gradient(to top,
        rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url("{{ service.img }}");' class='service-list__item'>
            <h4 class='service__name'>
            {{ service.title }}
          </h4>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class='newsletter'>
    <h2 class='heading-2'>
      Create your holiday activity
    </h2>
    <p class='newsletter__sub-text'>
      Hi! What are your holiday interests?
    </p>
    <input class='input' placeholder='Enter your interests' />
    <button class='btn--primary'>
      Search partners
    </button>
  </section>
{% endblock %}
